<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Home-eMobilis {% endblock %}</title>
</head>
<body>
<header>
    <h1>{% block header %} Welcome to eMobilis{% endblock %}</h1>
<nav>
    <ul>
        <li><a href="{% url 'my_index' %}">Home</a></li>
        <li><a href="{% url 'my_about' %}">About</a></li>
        <li><a href="{% url 'my_contact' %}">Contact</a></li>
        <li><a href="{% url 'my_gallery' %}">Gallery</a></li>
    </ul>
</nav>
</header>
<main>
    {% block content %} {% endblock %}
</main>
<footer>
    <p> &copy;2024 eMobilis</p>
</footer>
</body>
</html>